
<!--HOME===================================MOBOLE NAV -->
<div class="topnav-mobile topnav-mobile-home">
	<div class="topnav-mobile-toggle topnav-mobile-toggle-home"><a class="icon js-topnav-mobile-nav-mobile-toggle" href="javascript:void(0);"><i class="fa fa-bars"></i> <!-- js-topnav-mobile-nav-mobile-toggle--></a><a class="share-icon-home  js-topnav-mobile-nav-mobile-toggle-share" href="javascript:void(0);" id="nav-toggle-social"><i class="fa fa-share-alt"></i> <!-- js-topnav-mobile-nav-mobile-toggle-share--></a></div>
	<div class="topnav-mobile-nav">
		<div class="js-topnav-mobile-nav"> 
			<ul class="ul-plain topnav-mobile-main-links"> 
				<li><a href="/daytrip.html" class="topnav-mobile-link "> Day Trip</a> </li>
				<li><a href="/private-safari-holiday.html" class="topnav-mobile-link"> Private Safari Holiday</a></li>
				<li><a href="/treks-and-other-activities.html" class="topnav-mobile-link"> Treks &amp; other Activities</a></li>
			</ul>
			<ul class="ul-plain topnav-mobile-sub-links"> 
				<li><a href="/about-kla.html/#our-team" class="topnav-mobile-link"> Our Team</a></li>
				<li><a href="/about-kla.html/#our-story" class="topnav-mobile-link"> Our Story</a></li>
				<li><a href="/contat-kla.html" class="topnav-mobile-link"> How can we help you?</a></li>
			</ul>
		</div>
	</div>
	<div class="topnav-mobile-nav-share topnav-mobile-nav-share-home ul-plain" id="myTopnav-share"> 
		<div class="js-topnav-mobile-nav-share"> 
			<div class="brand-social"><i class=" fa fa-facebook-square"></i></div>
			<div class="brand-social"><i class=" fa fa-instagram"></i></div>
			<div class="brand-social"><i class=" fa fa-twitter"></i></div>
			<div class="brand-social"><i class=" fa fa-tripadvisor"></i></div>
			<div class="brand-social"><i class=" fa fa-envelope"></i></div>
		</div>
	</div>
</div>
<!-- END ------------------------------------------------  MOBILE NAV END-->
<!-- HOME ========================================= HOME NAV-->
<nav class="homenav"><!-- homenav--->
	<div class="shadow" style="background-image: url('img/shadow-white.svg'); background-size: cover; background-repeat: no-repeat;"> </div>
	<div class="grid">
		<ul class="ul-plain homenav-corporate home-top-nav-corpotate flex flex-end"><!-- homenav-corporate -->
			<li class="homenav-corporate-link"><a href="/about-kla.html">About Us</a></li>
			<li class="homenav-corporate-link"><a href="/before-you-travel.html">Before You Travel</a> <!-- homenav-corporate-link--></li>
			<li class="homenav-corporate-link"><a href="/contact-kla.html">Contact </a></li>
			<li class="homenav-corporate-link" title="Translation comming soon🚤 !">English <!-- Google Translation --></li>
		</ul>
		<div class="homenav-brand flex flex-btn"><!--homenav-brand --><a class="brands-logo logo-position-home" href="/"><img src="./img/uploads/logo-kibokoland.svg"/></a>
			<!--homenav-brand-logo-->
			<ul class="ul-plain homenav-brand-connect flex flex-col" id="contacts"><!-- homenav-brand-connect--->
				<li><img class="brands-social" src="./img/brands-fb-1.svg"> <img class="brands-social tilt-lft" src="./img/brands-insta-1.svg">  <img class="brands-social tilt-rt" src="./img/brands-tw-1.svg">  <img class="brands-social tilt-lft" src="./img/brands-tripa-1.svg"> <img class="brands-mail tilt-lft" src="./img/brands-mail-1.svg"></li>
			</ul> <li class="brands-phone"> {{site.data.emoji.kla-emoji.other.tel.fields.html}} +255 788 383215 </li>
		</div>
	</div>
</nav>
<!-- END ----------------------------------------- -------- HOME NAV END-->