
<!-- HOME NEWSLATTER ARTICLE  ========================================= HOME NEWSLATTER ARTICLE-->{% assign letters = site.newsletters  %}
<section class="news-letter flex col">
{% for article in letters %}
   <article class="article col-100 grid">
		<small class="newsletter-date tilt-rt">⌚ {{article.date | date_to_string }}</small>
		 {{article.content}}
{%endfor%}
         <div class="flex flex-col align-end news-letter-footer">
           <div class="authority-signature no-mouse-events tilt-lft" style="background-image: url('./img/uploads/signature-designer.svg'); background-size: 95%; backgroung-position: cover; background-repeat: no-repeat;"> </div>
           <p class="authority-name small tilt-rt"><b>🦛 Kibokoland Adventures Ltd.</b></p>
       </div>
   </article>
</section>
<!-- HOME NEWSLATTER ARTICLE --------------------------------------- END NEWSLATTER ARTICLE-->