
<!-- HOME SERVICES  ========================================= HOME SERVICES-->
<section class="services col">
	<section class="services-articles grid flex flex-btn flex_wrap">
		<!-- ARTICLE-THUMB ========================================= ARTICL-THUMB-->
		<article class="services-article services-article-home col-30 txt-center flex flex-col flex-around align-center">
			<div class="thumb" style="background-image: url('./img/uploads/daytrip-tanzania-safari-kibokoland-adventures.jpg'); background-size: cover; background-repeat: no-repeat;"></div>
			<h4 class="thumb-title title-1 zero-fit">Day Trip</h4>
			<p>Join our daily trips to make most of Tanzania is safari destinations</p><a href="/daytrip.html">
				<button class="btn tilt-lft">View All</button></a>
		</article>
		<!-- END ARTICLE-THUMB  ---------------------------------- END ARTICLE-THUMB-->
		<!-- ARTICLE-THUMB ========================================= ARTICLE-THUMB-->
		<article class="services-article services-article-home col-30 txt-center flex flex-col flex-around align-center"> 
			<div class="thumb tilt-rt" style="background-image: url('./img/uploads/private-safari-holiday-tanzania-kibokoland-adventures.jpg'); background-size: cover; background-repeat: no-repeat;"></div>
			<h4 class="thumb-title title-1 zero-fit">Private Safari holiday</h4>
			<p>Flexible and Customized safari holiday just for you and your friends</p><a href="/private-safari-holiday.html">
				<button class="btn tilt-rt">View All</button></a>
		</article>
		<!--END --------------------------------------------- END ARTICLE THUMB-->
		<!-- ARTICLE-THUMB ========================================= ARTICLE-THUMB-->
		<article class="services-article services-article-home col-30 txt-center flex flex-col flex-around align-center"> 
			<div class="thumb tilt-lft" style="background-image: url('./img/uploads/activity-safaris-tanzania-kibokoland-adventures.jpg'); background-size: cover; background-repeat: no-repeat;"></div>
			<h4 class="thumb-title title-1 zero-fit">Trekking & other Activities</h4>
			<p>Checkout some fun & inspiring things to do in Tanzania</p><a href="/trekks-and-other-activities.html">
				<button class="btn tilt-lft">View All</button></a>
		</article>
		<!--END ARTICLE-THUMB ------------------------------------- END ARTICLE THUMB-->
	</section>
</section>
<!-- END HOME-SERVICES ------------------------------------ END HOME SERVICES-->