
<!-- HOME SERVICES  ========================================= HOME SERVICES-->
<section class="services col">
	<section class="services-articles grid flex flex-btn flex_wrap">
		{% for package in site.data.home.services_kla%}
		<article class="services-article services-article-home col-30 txt-center flex flex-col flex-around align-center">
		   <div class="thumb" style="background-image: url('{{package.thumb}}'); background-size: cover; background-repeat: no-repeat;"></div>
		   <h4 class="thumb-title title-1 zero-fit">{{package.title}}</h4>
		   <p>{{package.lead}}</p><a href="{{package.url}}"><button class="btn tilt-{{package.button_tilt}}">View All</button></a></article>
		{% endfor %}
	</section>
</section>
<!-- END HOME-SERVICES ------------------------------------ END HOME SERVICES-->