
<!--FOOTER ====================================================================== FOOTER-->
<footer class="foot-note">{%include site-why-us-section.html%}
	<section class="important-links grid flex flex-around">
		<article class="col-3">
			<h3>About</h3>
			<hr/>
			<p class="user"><a href="/about-kla.html">About us </a></p>
			<p class="user"><a href="/about-kla.html#our-team">Our Team </a></p>
			<p class="user"><a href="/about-kla.html#our-story">Our Story </a></p>
			<p class="user"><a href="/contact-kla.html">How Can we Help You? </a></p>
		</article>
		<article class="col-3">
			<h3>Our Services</h3>
			<hr/>
			<p><a href="/daytrip.html">Day Trip</a></p>
			<p><a href="/private-safari-holiday.html">Private Safari Holiday & Transfers  </a></p>
			<p><a href="/treks-and-other-activities.html">treks &amp; other activities</a></p>
		</article>
		<article class="col-3">
			<h3>Contact</h3>
			<hr/>
			<p class="user"><img class="brands-social tilt-rt" src="./img/brands-fb-1.svg"> <img class="brands-social tilt-lft" src="./img/brands-insta-1.svg">  <img class="brands-social tilt-rt" src="./img/brands-tw-1.svg">  <img class="brands-social tilt-rt" src="./img/brands-tripa-1.svg"></p><p class="tilt-rt"> {{site.data.emoji.kla-emoji.other.tel.fields.html}} +255 788 383215 </p>
			<p class="tilt-lft"> <a href="mailto:info@kibokolandadventures.com">{{site.data.emoji.kla-emoji.other.email.fields.html}} info@kibokolandadventures.com </a></p>
		</article>
	</section>
	<section class="grid">
		<h3 class="align-text-center">Memberships</h3>
		<hr/>
		<section class="important-links grid flex flex-around"> 
			<article class="col-3">
				<div class="member-link clear-fix" style="background-image: url('./img/uploads/tato-kibokoland-adventures.jpg'); background-size: 100% 60%; background-repeat: no-repeat; background-position: top center;"> </div>
			</article>
			<article class="col-3">
				<div class="member-link clear-fix" style="background-image: url('./img/uploads/ttb-kibokoland-adventures.png'); background-size: 100% 60%; background-repeat: no-repeat; background-position: top center;"></div>
			</article>
			<article class="col-3">
				<div class="member-link clear-fix" style="background-image: url('./img/uploads/tanapa-kibokoland-adventures.jpg'); background-size: 100% 60%; background-repeat: no-repeat; background-position: top center;"></div>
			</article>
		</section>
	</section>
	<section class="flex flex-center legal">
		<p class="grid">© 2019 Kiboko Land Adventures Ltd.</p>
	</section>
	<!-- FOOTER -------------------------------------------------------------------- FOOTER
	-->
</footer>