
<!--PAGE ========================================= PAGE NAV DESK-->
<nav class="pagenav flex flex-btn grid"><a class="brands-logo logo-position-page" href="/"><img src="./img/uploads/logo-kibokoland-adventures.svg"/></a>
	<article>
		<ul class="ul-plain pagenav-top-corporate pagenav-corporate flex flex-end">
			<!---pagenav-top-corporate --><li><a href="/about-kla.html" class=" pgnav-top-link {% if page.url == '/about-kla.html' %} corp-active{% endif %} ">About Us</a></li>
			<li><a href="/before-you-travel.html" class=" pgnav-top-link {% if page.url == '/before-you-travel.html' %} corp-active{% endif %} ">Before You Travel</a></li>
			<li><a href="/contact-kla.html" class=" pgnav-top-link {% if page.url == '/contact-kla.html' %} corp-active{% endif %} ">Contact</a></li>
			<li class="pgnav-top-link" title="Translation comming soon🚤 !">English <!-- Google Translation --></li>
		</ul>
		<ul class="pagenav-product-links flex flex-btn">
			<a href="/daytrip.html" class="product-link tilt-rt {% if page.url == '/daytrip.html' %} active{% endif %} ">Day Trip</a> 
			<a href="/private-safari-holiday.html" class="product-link tilt-lft {% if page.url == '/private-safari-holiday.html' %} active{% endif %} ">Private Safari Holiday</a>
			<a href="/trekks-and-other-activities.html" class="product-link tilt-rt {% if page.url == '/trekks-and-other-activities.html' %} active{% endif %} ">Trekks &amp; Activities</a>
		</ul>
	</article>
</nav>
<!-- PAGE ------------------------------------------------------ END PAGE NAV DESK-->