
<!-- PAGE ========================================= PAGE HEADER-->
<header class="page-header">
	<div class="grid">
		<div class="topnav-mobile topnav-page"> 
			<div class="topnav-mobile-toggle"> <a class="icon js-topnav-mobile-nav-mobile-toggle" href="javascript:void(0);" id="nav-toggle-page"><i class="fa fa-bars"></i></a><a class="share-icon-page  js-topnav-mobile-nav-mobile-toggle-share" href="javascript:void(0);" id="nav-toggle-social-page"><i class="fa fa-share-alt"></i></a>
				<!--PAGE ========================================= PAGE NAV DESK-->
				<nav class="pagenav flex flex-btn grid"><a class="brands-logo logo-position-page" href="/"><img src="./img/uploads/logo-kibokoland-adventures.svg"/></a>
					<article>
						<ul class="ul-plain pagenav-top-corporate pagenav-corporate flex flex-end"><!---pagenav-top-corporate -->
							<li class="pgnav-top-link"><a href="/about.pug">About Us</a></li>
							<li class="pgnav-top-link"><a href="/before-you-travel.pug">Before You Travel</a></li>
							<li class="pgnav-top-link"><a href="/contact.pug">Contact </a></li>
							<li class="pgnav-top-link"><a href="/blog.pug">Blog </a></li>
							<li class="pgnav-top-link" title="Translation comming soon🚤 !">English <!-- Google Translation --></li>
						</ul>
						<ul class="pagenav-product-links flex flex-btn"> <a class="active product-link tilt-rt" href="/day-trip.pug">Day Trip </a><a class="product-link tilt-lft" href="/private-safari-holidays-and-transfers.pug">Safari & Transfers</a><a class="product-link tilt-rt" href="/trekking-and-activities.pug">Trekking & Activities</a></ul>
					</article>
				</nav>
				<!-- PAGE ------------------------------------------------------ END PAGE NAV DESK-->
			</div>
			<div class="topnav-mobile-nav">
				<div class="js-topnav-mobile-nav"> 
					<ul class="ul-plain topnav-mobile-main-links"> 
						<li><a href="/day-trip.pug" class="topnav-mobile-link "> Day Trip</a> </li>
						<li><a href="/private-safari-holidays-and-transfers.pug" class="topnav-mobile-link"> Private Safari Holidays And Transfers</a></li>
						<li><a href="/trekking-and-activities.pug" class="topnav-mobile-link"> Trekking & Activities</a></li>
					</ul>
					<ul class="ul-plain topnav-mobile-sub-links"> 
						<li><a href="/our-values.pug" class="topnav-mobile-link"> Our Values</a></li>
						<li><a href="/our-team.pug" class="topnav-mobile-link"> Our Team</a></li>
						<li><a href="/how-can-we-help-you.pug" class="topnav-mobile-link"> How can we help you?</a></li>
					</ul>
				</div>
			</div>
			<div class="topnav-mobile-nav-share topnav-mobile-nav-share-home ul-plain">
				<div class="js-topnav-mobile-nav-share"> 
					<div class="brand-social"><i class=" fa fa-facebook-square"></i></div>
					<div class="brand-social"><i class=" fa fa-instagram"></i></div>
					<div class="brand-social"><i class=" fa fa-twitter"></i></div>
					<div class="brand-social"><i class=" fa fa-tripadvisor"></i></div>
					<div class="brand-social"><i class=" fa fa-envelope"></i></div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- PAGE -------------------------------------------------------- END PAGE HEADER-->