
<!-- FOOTER ========================================= FOOTER-->
<footer class="foot-note home-foot-note">
	<section class="important-links grid flex flex-around">
		<article class="col-3">
			<h3>About</h3>
			<hr/>
			<p class="user"><a href="/about-kla.html">About us </a></p>
			<p class="user"><a href="/about-kla.html#our-team">Our Team </a></p>
			<p class="user"><a href="/about-kla.html#our-story">Our Story </a></p>
			<p class="user"><a href="/contact-kla.html">How Can we Help You? </a></p><p class="user"> <a href="{{site.data.site_data.terms_and_conditions}}">terms and conditions</a></p>
		</article>
		<article class="col-3">
			<h3>Our Services</h3>
			<hr/>
			<p><a href="/daytrip.html">Day Trip</a></p>
			<p><a href="/private-safari-holiday.html">Private Safari Holiday </a></p>
			<p><a href="/treks-and-other-activities.html">treks &amp; other activities</a></p>
		</article>
		<article class="col-3">
			<h3>Contact</h3>
			<hr/><div class="user"> 
			  <a href="{{site.data.site_data.social.facebook.url}}" title="{{site.data.site_data.social.facebook.user_name}}"><img class="brands-social tilt-rt" src="./img/brands-fb-1.svg"> </a>
			  <a href="{{site.data.site_data.social.instagram.url}}" title="{{site.data.site_data.social.instagram.user_name}}"><img class="brands-social tilt-lft" src="./img/brands-insta-1.svg"> </a>
			  <a href="{{site.data.site_data.social.twitter.url}}" title="{{site.data.site_data.social.twitter.user_name}}"><img class="brands-social tilt-rt" src="./img/brands-tw-1.svg"> </a>
			  <a href="{{site.data.site_data.social.trip_advisor.url}}" title="{{site.data.site_data.social.trip_advisor.user_name}}"><img class="brands-social tilt-rt" src="./img/brands-tripa-1.svg"></a>
			</div>
			<p class="tilt-rt"> {{site.data.emoji.kla-emoji.other.tel.fields.html}} {{site.data.site_data.tel}} </p>
			<p class="tilt-lft"> <a href="mailto:{{site.data.site_data.email}}">{{site.data.emoji.kla-emoji.other.email.fields.html}} {{site.data.site_data.email}} </a></p>
		</article>
	</section>
	<section class="grid">
		<h3 class="align-text-center">Memberships</h3>
		<hr/>
		<section class="important-links grid flex flex-around">
			 {% for member in site.data.site_data.memberships %}
			 <article class="col-3">
			     <a href="{{member.url}}" class="member-link clear-fix" style="background-image: url('{{member.logo}}'); background-size: 100% 60%; background-repeat: no-repeat; background-position: top center;"></a>
			 </article>
			{% endfor %}
		</section>
	</section>
</footer>
<!-- FOOTER ------------------------------------------------------- FOOTER-->