
//SIDE BAR 
  
.pg-content-table 
  max-width: $space-25-4
  padding: $space-base-4
  background:
    color: $lighter-green

.pg-content-table 
  padding: $space-0-4
.pg-content-table > * 
  margin-bottom: $space-25-4//$space-15-4
.quick-links > * 
  margin-bottom: $space-0-4
.badge 
		width: 80% 
		background-color: $light-green
		border-radius: 6% 
		padding: $space-base-2-4
		box-shadow: $box-shadow

.badge-title 
		font-size: 1rem
		text-align: center
		font-weight: 600
		text-transform: uppercase

