/*
  * KLA SERVICES ARTICLE MODULE
  */

.services-article //product
  margin-top: $space-1-4 //30px
  height: $space-50-4//490px was 445px
  border-bottom: $border-w-9 solid $lighter-brown
  background-color: lighten($lighter-green , 5%)//lighten($dark-green, 63%) //transparentize($light-green , .8)
  border-radius: 1.9140625px 1.344307270233196px
  color: $dark-brown
  cursor: pointer
  &:hover
    box-shadow: $box-shadow


.thumb 
  width: 305px
  height: 162.5px
  border-radius: $space-base-4 $space-base-2-4 $space-12-3 $space-4-3 
  transform: rotate(1.9140625deg)
  opacity: .9
  flex: 1 

.thumb-flex 
  width: 220px

.thumb-title
  padding: $space 0
  //color: darken(#D3CB9B, 20%)
  color: #655142
  text-shadow: $text-shadow-small


.no-border 
  border: none
  border-radius: 10px

.quote-left 
  width: 45%
  height: $space-15-4

.sample-itinerary
  .user-comment 
    margin-top: -$space-1-4
    width: 85%
    font-size: $space-0-4
