|---
| layout: page
| title: Before You Pack Up
| subtitle: No more surprises!
| backtop: pg-day-top
|---

section.pg-content


  section.pg-section-articles.products-center
      | {% assign package = site.before_you_travel  %}

      //PAGE ARTICLE ========================================================= PAGE ARTICLE    
  article.article.display-article
      |<section>
      |  <div class="notes">
      | {% for item in package%}   
      |     <section>    
      |     <article class="article {% if forloop.first %} display-article {%else%}no-display-article {% endif %}">
      |       <div id="overview" class="accordion">
      |          <h3 class="article-title zero-fit flex flex-btn">{{item.title}} <i class="arrow-dwn fa fa-chevron-down"></i> </h3>
      |        </div>

      |        <div class="panel">
      |          <div class="panel-positional">

      |           <article id="overview">
      |           {{item.content}}
      |           </article>
  
      |           

      |          

      |           
      |          </div>
      |        </div>
      |       </article>
      |      </section>
      |      {%endfor%}
      |     
      |        <section class="destination-foot-note-wrap">  
      |          <div class=" flex flex-btn align-center flex_wrap destination-foot-note">
      |             <p> <b class="mail-to align-text-center"><a href="mailto:{{site.data.site_data.email}}">{{site.data.emoji.kla-emoji.other.email.fields.html}}<br> connect with us</a></b> <br><br></p>
      |          </div>
      |          <div class="flex flex-col align-end news-letter-footer">
      |              <div class="authority-signature no-mouse-events tilt-lft" style="background-image: url('./img/uploads/signature-designer.svg'); background-size: 95%; backgroung-position: cover; background-repeat: no-repeat;"> </div>
      |              <p class="authority-name small tilt-rt"><b>{{site.data.emoji.kla-emoji.animals.hippo.fields.html}} Kibokoland Adventures Ltd.</b></p>
      |          </div>
      |        </section>
      |      </section> 
      |  
      |   </div>
      | </section>
