|---
| layout: page
| title: Day Trips
| subtitle: A day is all you have got? HAVE THE NORTHEN'S BEST FOR LAST!
| backtop: pg-day-top
|---

    
section.pg-content.flex

  | {% assign destination = site.categories.daytrip%}

  //PAGE ============================================================ SIDE BAR
  sidebar.pg-content-table
    ul.ul-plain.quick-links
      .badge.tilt-rt
        p.badge-title Safari Destinations
      //for loop - daytrips-collection
      | {% for item in destination%}
      |    <li class="link"> <a href="{{item.url}}"> <b>➥</b> {{item.title}} </a> </li>
      | {%endfor%}
  
     
    | {% include  site-sidebar-note.html %}
          
  // PAGE ------------------------------------------------------------- END SIDE BAR
  section.pg-section-articles.products-center


    //PAGE ARTICLE ========================================================= PAGE ARTICLE
    
    | {% for item in destination%}
    |   <article class="article {% if forloop.first %} display-article {% endif %}">
    |   <div class="accordion">
    |     <h2 class= "article-title flex flex-btn "> <small class="best-price"> 🏷️<mark>${{item.sys.price}}</mark></small> {{item.title}} <span class="article-highlights flex flex-col align-start"><span class="best-time">{{item.sys.best_time}} </span> <span class="lc-adress"><b><small>📢 place </small> <span class="place tilt-lft"><a class="place-link" href="#"><mark>{{item.sys.circuit}} ️</mark></a> </b> </span> </span> </span> </h2> </div>
    |   <div class="panel"> 
    |     <div class="panel-positioning">
    |       <div class="panel-thumb tilt-lft"  style="background-image: url('{{item.sys.image.url}}'); background-size: cover; background-position: center center; background-repeat: no-repeat;">
    |         <h2>{{item.sys.icon}}</h2> </div>
    |       <div class="notes">
    |         <p> <b class="user-comment">{{item.sys.review}} </b></p>
    |         <p> <b>What is like: </b> <br>#️⃣  {{item.overview.setting.hashtags}} </p>
    |         <p> <b>Activities:</b> {{item.overview.setting.activities}}</p>
    |         <div class="notes-lc-adress"> 
    |             <p><b>Pick-up  &amp; Drop-off  points :</b> 🛏️ Accommodation Location </p>
    |         </div>
    |         <button class="btn bag-btn tilt-rt" data-item-id="0{{forloop.index }}" data-item-price="{{item.sys.price}}" data-item-five-star-price="{{item.sys.accommodation.five_star}}" data-item-three-star-price="{{item.sys.accommodation.mid_star}}"  data-item-camp-basic="{{item.sys.accommodation.camp}}"  data-item-url="{{item.url}}" data-item-location="{{item.sys.circuit}}" data-item-description="{{item.sys.review}}" data-item-image="{{item.sys.image.url}}" data-item-name="{{item.title}}"> ADD TO BUCKET LIST </button>
    |         <button class="btn tilt-rt"><a href="{{item.url}}"> READ MORE </a></button> 
    |      </div> 
    |    </div>
    |   </div>
    |   </article>
    |{%endfor%}