|---
| title: Home Page
| layout: default
|---

header
	| {% include hm-header.html %}
	| {% include hm-fold.html %}
	| {% include hm-services.html %}
	| {% include hm-newsletter.html %}
	| {% include site-footer.html %}