//FOOTER ====================================================================== FOOTER
footer.foot-note
  article.why-us
    ul.brand-values.grid.ul-plain.flex.flex-btn
      li.brand-value.flex.align-center <img class="brand-value-icon" src="./img/brands-personalized.svg">  <span class="brand-value-txt flex flex-col align-start"><i>Personalized Safaris</i><i class="small">you always come first</i> </span> 
      li.brand-value.flex.align-center <img class="brand-value-icon" src="./img/brands-eco.svg">  <span class="brand-value-txt flex flex-col align-start"><i>Positive Impact </i><i class="small">you define your purpose. we inspire the impact</i> </span>
      li.brand-value.flex.align-center <img class="brand-value-icon" src="./img/brands-bell.svg">  <span class="brand-value-txt flex flex-col align-start"><i>Book with confidence</i><i class="small">instant comfirmation</i> </span> 

  section.important-links.grid.flex.flex-around
    article.col-3
      h3 About
      hr
      
      p.user <a href="/about-kla.html">About us </a>
      p.user <a href="/about-kla.html/#our-team">Our Team </a>
      p.user <a href="/our-team.html/#our-story">Our Story </a>
      p.user <a href="/contact-kla.html">How Can we Help You? </a>

    article.col-3
      h3 Our Services
      hr

      p: a(href="/daytrip.html") Day Trip
      p: a(href="/private-safari-holiday.html") Private Safari Holiday & Transfers  
      p: a(href="/treks-and-other-activities.html") treks &amp; other activities

    article.col-3
      h3 Contact
      hr

      p.user <img class="brands-social tilt-rt" src="./img/brands-fb-1.svg"> <img class="brands-social tilt-lft" src="./img/brands-insta-1.svg">  <img class="brands-social tilt-rt" src="./img/brands-tw-1.svg">  <img class="brands-social tilt-rt" src="./img/brands-tripa-1.svg">
      | <p class="tilt-rt"> {{site.data.emoji.kla-emoji.other.tel.fields.html}} +255 788 383215 </p>
      | <p class="tilt-lft"> <a href="mailto:info@kibokolandadventures.com">{{site.data.emoji.kla-emoji.other.email.fields.html}} info@kibokolandadventures.com </a></p>

  section.grid
    h3.align-text-center Memberships
    hr
    section.important-links.grid.flex.flex-around  
      article.col-3
        .member-link.clear-fix(style="background-image: url('./img/uploads/tato-kibokoland-adventures.jpg'); background-size: 100% 60%; background-repeat: no-repeat; background-position: top center;") 

      article.col-3
        .member-link.clear-fix(style="background-image: url('./img/uploads/ttb-kibokoland-adventures.png'); background-size: 100% 60%; background-repeat: no-repeat; background-position: top center;")


      article.col-3
        .member-link.clear-fix(style="background-image: url('./img/uploads/tanapa-kibokoland-adventures.jpg'); background-size: 100% 60%; background-repeat: no-repeat; background-position: top center;")


      
      
      

  section.flex.flex-center.legal
    p.grid © 2019 Kiboko Land Adventures Ltd.
  
  // FOOTER -------------------------------------------------------------------- FOOTER
          