.modal.cart-overlay
  .modal-content.article.cart
    span.close-button.close-cart.large &times; <!-- <i class="fa fa-window-close" aria-hidden="true"></i> -->
    h3.align-text-center  Your Bucket List
    form.form(action="POST" data-netlify="true" data-netlify-recapture="true" name="bucket") 
      .cart-footer
        p.cart-imoji 👍  <span class="cart-total"><b> 0 </b></span> <small>/ Destination(s)</small>
      textarea.cart-content(name="bucket-list"  id="bucket-list" cols="30", rows="10")
      .btn.clear-cart Clear List
      fieldset.no-border.customer-details
        legend.align-text-center 
          h3 Your Details

        label(for="name") Name: <input type="text" id="name" name="customer's_name" required>
        label(for="email") Email: <input type="text" id="email" name="customer's_email" required>

        label(for="Group") Number of People Traveling: <br> <input type="number" id="group" name="travel_group" required>
        
        
        .flex.flex-btn.form-col-2
          label(for="start-date") <b>Start Date</b> <br><input type="date" id="start_date" name="start-date" required>
          label(for="end-date") <b>End Date</b> <br><input  type="date" id="end_date" name="end-dates" required>

        .flex.flex-col.form-col-2
          <br><br>
          p <b>Safari Type</b>
          .flex.flex-btn
            label(for="delux") <b>Delux</b>
              input(type="radio" id="delux" name="safari-type" value="Delux" required)
            
            label(for="midrange") <b>Midrange</b>
              input(type="radio" id="midrange" name="safari-type" value="Midrange")
            
            label(for="basic") <b>Basic</b>
              input(type="radio" id="basic" name="safari-type" value="Basic")
            <br><br><br>
          
        .flex.flex-btn.form-col-2
          label(for="pick-up") <b>Pick-up 🛬 </b> <br>
            select(id="pick-up-points" name="pick-up-points" value="-- Pick a location ---" required)
              option I don't know yet
              option Arusha 
              option Kilimanjaro Airport (JRO)
              option Dar es Salaam 
              option Other 
            
          label(for="drop-off") <b>Drop-off 🛫 </b> <br>
            select(id="drop-off-points" name="drop-off-points" value="-- Pick a location ---" required)
              option I don't know yet
              option Arusha Airport 
              option Kilimanjaro Airport (JRO)
              option Dar es Salaam 
              option Other 
              
          

        textarea#note.tilt-rt(name="Customer-Notes", cols="30", rows="10" placeholder="Would you like to go camping? tell us your requirements...")

        |<div data-netlify-recapture="true"></div>
    


      p: button.btn.tilt-lft(type="submit") Send Me A Quote!
          