.topnav-mobile-nav
  .js-topnav-mobile-nav 
    ul.ul-plain.topnav-mobile-main-links 
      li <a href="/daytrip.html" class="topnav-mobile-link "> Day Trip</a> 
      li <a href="/private-safari-holiday.html" class="topnav-mobile-link"> Private Safari Holiday</a>
      li <a href="/treks-and-other-activities.html" class="topnav-mobile-link"> treks &amp; other activities</a>
    ul.ul-plain.topnav-mobile-sub-links 
      li <a href="/our-values.html" class="topnav-mobile-link"> Our Values</a>
      li <a href="/our-team.html" class="topnav-mobile-link"> Our Team</a>
      li <a href="/how-can-we-help-you.html" class="topnav-mobile-link"> How can we help you?</a>
    
      
.topnav-mobile-nav-share.topnav-mobile-nav-share-home.ul-plain
  .js-topnav-mobile-nav-share 
    .brand-social <i class=" fa fa-facebook-square"></i>
    .brand-social <i class=" fa fa-instagram"></i>
    .brand-social <i class=" fa fa-twitter"></i>
    .brand-social <i class=" fa fa-tripadvisor"></i>
    .brand-social <i class=" fa fa-envelope"></i>