.topnav-mobile-nav
  .js-topnav-mobile-nav 
    ul.ul-plain.topnav-mobile-main-links 
      li <a href="/daytrip.html" class="topnav-mobile-link "> Day Trip</a> 
      li <a href="/private-safari-holiday.html" class="topnav-mobile-link"> Private Safari Holiday</a>
      li <a href="/treks-and-other-activities.html" class="topnav-mobile-link"> treks &amp; other activities</a>
    ul.ul-plain.topnav-mobile-sub-links 
      li <a href="/about-kla.html#our-team" class="topnav-mobile-link"> Our Team</a>
      li <a href="/about-kla.html#our-story" class="topnav-mobile-link"> Our Story</a>
      li <a href="/contact-kla.html" class="topnav-mobile-link"> How can we help you?</a>



.topnav-mobile-nav-share.topnav-mobile-nav-share-home.ul-plain
  .js-topnav-mobile-nav-share 
    |<div class="brand-social"><a href="{{site.data.site_data.social.facebook.url}}"><i class=" fa fa-facebook-square"></i></a></div>
    |<div class="brand-social"><a href="{{site.data.site_data.social.instagram.url}}"><i class=" fa fa-instagram"></i></a></div>
    |<div class="brand-social"><a href="{{site.data.site_data.social.twitter.url}}"><i class=" fa fa-twitter"></i></a></div>
    |<div class="brand-social"><a href="{{site.data.site_data.social.trip_advisor.url}}"><i class=" fa fa-tripadvisor"></i></a></div>
    |<div class="brand-social"><a href="mailto:{{site.data.site_data.email}}"><i class=" fa fa-envelope"></i></a></div>