|<section class="services-articles flex flex-btn flex_wrap">
|   <div class="badge"> 
|   <p class="badge-title tilt-lft">Our Handpicked Lists</p> 
|   <p>Your friends really knew what was best. Download and sample to see what they got.</p></div>