---
 layout: package
---
<header class="page-header">
	<div class="grid">
		<div class="topnav-mobile topnav-page"> 
			<!--site-mobile-nav-->{% include site-mobile-nav.html%}
			<!--end site-mobile-nav-->
			<div class="topnav-mobile-toggle"> 
				<!--Nav Toggle Icons --><a class="icon js-topnav-mobile-nav-mobile-toggle" href="javascript:void(0);" id="nav-toggle-page"><i class="fa fa-bars"></i></a><a class="share-icon-page  js-topnav-mobile-nav-mobile-toggle-share" href="javascript:void(0);" id="nav-toggle-social-page"><i class="fa fa-share-alt"></i></a>
				<!--Page Nav -->{% include destination-header.html %}
				<!--End Page Nav-->
			</div>
		</div>
	</div>
</header>
<!-- PAGE -------------------------------------------------------- END PAGE HEADER-->
<!-- PAGE ========================================= PAGE CONTENT  -->
<section>
	<div class="grid">
		<!--PAGE ====================================== SHOPPING CART-->{% include site-shopping-cart.html %}
		<!--CART MODAL HERE-->{% include site-cart-modal.html %}
		<!--END CART MODAL-->
		<!--PAGE -------------------------------------- END SHOPPING CART-->
		<!-- PAGE =========================================== PAGE CONTENT HEADER-->{% include site-page-header.html %}   
		<!-- PAGE --------------------------------------- - END PAGE CONTENT HEADER-->
		<section class="pg-content flex">{% assign category = site.categories%}
			<!--PAGE ============================================================ SIDE BAR-->
			<sidebar class="pg-content-table">
				<ul class="ul-plain quick-links">
					<!--for loop - daytrips-collection-->{% for destination in category[page.category] %}
					   <li class="link {% if page.url == destination.url %} destination-active-link {% endif %}"> <a href="{{destination.url}}"> <b>➥</b> {{destination.sys.fields.title}} </a> </li>
					{%endfor%}
				</ul>
				<div class="quick-perks">
					<h2>Tip: </h2>
					<p>
						You can select the excursion that you like by clicking <button class="btn"> ADD TO BUCKET</button> button... then
						move to other pages and do the same. And when you about done!
						there is a cart icon on the top... all your selections will 
						listed there... ready for sharing w/ us for pre-booking and planning.
						  
					</p>
				</div>
			</sidebar>
			<!-- PAGE ------------------------------------------------------------- END SIDE BAR-->
			<section class="pg-section-articles products-center">
				<!--PAGE ARTICLE ========================================================= PAGE ARTICLE-->
				<article class="article display-article">
					<div class="main-wrapper tilt-lft">
					 <div class="slider">
					
					  {% for image in page.image_corousel%}
					   <img class="slide {% if forloop.first %}initial{% endif%}" src="../../{{image}}">
					  {% endfor%} 
					 </div>
					 <div class="arrow arrow_prev">
					   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 257.6 451.8">
					     <path d="M0,225.9c0-8.1,3.1-16.2,9.3-22.4L203.5,9.3c12.4-12.4,32.4-12.4,44.8,0c12.4,12.4,12.4,32.4,0,44.7L76.4,225.9l171.9,171.9c12.4,12.4,12.4,32.4,0,44.7c-12.4,12.4-32.4,12.4-44.7,0L9.3,248.3C3.1,242.1,0,234,0,225.9z"/>
					   </svg>
					 </div>
					 <div class="arrow arrow_next">
					   <svg class="arrow arrow_next" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 257.6 451.8">
					     <path d="M248.3,248.3L54,442.6c-12.4,12.4-32.4,12.4-44.7,0c-12.4-12.4-12.4-32.4,0-44.7l171.9-171.9L9.3,54C-3.1,41.7-3.1,21.6,9.3,9.3C21.6-3.1,41.7-3.1,54,9.3l194.3,194.3c6.2,6.2,9.3,14.3,9.3,22.4C257.6,234,254.5,242.1,248.3,248.3z"/>
					   </svg>
					 </div>
					</div>
					
					  <header class="align-text-center">
					    <p><br><br>#️⃣ {{page.overview.setting.hashtags}} <br><br></p>
					    <p class="article-title  big"> {{page.review}}</p>
					    <p> {{page.overview.setting.activities}} <br></p>
					    
					  
					    <nav class="article-nav-bar-wrap">
					      <p class="article-nav-bar flex flex-around flex_wrap"> <a href="#overview" class="article-nav-link article-nav-link-current">Overview</a>  <a href="#what-to-expect" class="article-nav-link ">What to expect</a>  <a href="#what-to-see" class="article-nav-link">What to see</a>  <a href="#itinerary" class="article-nav-link ">Itinerary</a></p></nav>
					   </header>
					   <div class="notes">
					    <section class="destination-overview"> 
					      <article class="article no-display-article">
					       <div id="overview" class="accordion">
					         <h3 class="article-title zero-fit flex flex-btn"> Overview <b>〉</b></h3>
					       </div>
					       <div class="panel">
					         <div class="panel-positional">
					          <article>
					           <p id="overview"> {{page.overview.intro}}</p>
					          </article>
					          <article class="tour-details"> 
					            <p><b>When: </b><br> {{page.overview.tour_details.when}} </p>
					            <p><b>Duration: </b><br> {{page.overview.tour_details.duration}} </p>
					            <p><b>Language: </b><br> {{page.overview.tour_details.language}} </p>
					            <p><b>Price: </b><br> {{page.overview.tour_details.price_includes}} </p>
					            <p><b>Transport: </b><br> {{page.overview.tour_details.transport}} </p>
					            <p><b>Itinerary: </b><br> {{page.overview.tour_details.itinerary}} </p>
					        
					           </article>
					          <article class="tour-logistics">
					             <div class="nb flex flex-btn flex_wrap "> 
					               <ul class="included ul-plain">
					                <p> <b>Included </b> </p>
					                <hr>
					                {% for item in page.overview.included %}
					                  <li><b>👍 </b> {{item}}</li>
					                {% endfor %} 
					           
					               </ul>
					                <ul class="excluded ul-plain">
					                 <p> <b>Excluded </b> </p>
					                 <hr>
					                 {% for item in page.overview.excluded %}
					                 <li><b>  👎  </b> {{item}}</li>  
					                 {% endfor %} 
					                </ul>
					            </div>
					            <ul class="ul-plain plz-note">
					              <p> <b>Please Note </b> </p>
					              <hr>
					              {% for item in page.overview.remarks %}
					                <li><b>☝</b> {{item}}</li>
					              {% endfor %}
					             </ul>
					            </article> 
					         </div>
					       </div>
					      </article>
					     </section>
					    
					     <section> 
					      <article class="article no-display-article">
					         <h4>Watch the Video</h4>
					         <div id="what-to-expect" class="flex-video-wrap">
					           <div class="flex-video">
					             {{page.expect.fields.video.file.url}}
					           </div>
					         </div>
					       </article>
					      
					     </section> 
					     <section> 
					      <article class="article no-display-article">
					       <div id="what-to-see" class="accordion">
					         <h3 class="article-title zero-fit flex flex-btn"> What to see <b>〉</b></h3>
					       </div>
					       <div class="panel">
					         <div class="panel-positional">
					  
					          <ul class="notes space-children ul-plain">
					             {% for item in page.experience.what_to_see %}
					              <li><b>  🧐   </b> {{item}}</li>  
					             {% endfor %} 
					          </ul>
					         </div>
					       </div>
					      </article>
					     </section> 
					     <section> 
					      <article class="article no-display-article">
					       <div id="itinerary" class="accordion">
					         <h3 class="article-title zero-fit flex flex-btn"> Itinerary <b>〉</b></h3>
					       </div>
					       <div class="panel">
					         <div class="panel-positional">
					  
					          <ul class="notes space-children ul-plain">
					             {% for item in page.experience.itinerary %}
					              <li><b>  🧐   </b> {{item}}</li>  
					             {% endfor %} 
					          </ul>
					           <article class="article col-100">
					             <hr>
					             <h3>The Top Tree circuits of 2019! Co-Designed with our Customers</h3>
					             <h2>They really knew what was best! ✨</h2><br/>
					             <p><b>We have selected these safari packages based on the personalized level and the impact they had to both our clients and the Tanzanian Community... Its in our heart to thank you our dear visitors from whom we grew and stand together and make all trips and experiences posible... </b><br><br></p><br/>
					             <section class="services-articles grid flex flex-btn flex_wrap">
					               <article class="services-article col-30 txt-center flex flex-col flex-around align-center">
					                   <div class="thumb" style="background-image: url('/assets/img/activity-safari-1.jpg'); background-size: cover; background-repeat: no-repeat;"></div>
					                   <h4 class="thumb-title title-1 zero-fit">Bush &amp; People</h4>
					                   <p>"It is amaizing how woman in Arusha Tanzania think about responsibilities..."</p><a href="/day-trip.pug"><button class="btn tilt-lft">READ MORE</button></a></article>
					               <article class="services-article col-30 txt-center flex flex-col flex-around align-center">
					                   <div class="thumb tilt-rt" style="background-image: url('/assets/img/private.jpg'); background-size: cover; background-repeat: no-repeat;"></div>
					                   <h4 class="thumb-title title-1 zero-fit">Ultimate Northern Safari</h4>
					                   <p>"we dreamt of the big five... we trakked them down the whole northen and it was priceless "</p><a href="/private-safari-holidays-and-transfers.pug"><button class="btn tilt-rt">READ MORE</button></a></article>
					               <article class="services-article col-30 txt-center flex flex-col flex-around align-center">
					                   <div class="thumb tilt-lft" style="background-image: url('/assets/img/private-4.jpg'); background-size: cover; background-repeat: no-repeat;"></div>
					                   <h4 class="thumb-title title-1 zero-fit">Girls in boots 👢 </h4>
					                   <p>"We decided to pack-up and go walking with the giants in Tarangire"... girl we had it ✨</p><a href="/treks-and-activities.pug"><button class="btn tilt-lft">READ MORE</button></a></article>
					               
					               </section>
					              
					             </article>
					         </div>
					       </div>
					      </article>
					       <section class="destination-foot-note-wrap">  
					         <div class=" flex flex-btn align-center flex_wrap destination-foot-note">
					            <p> <b class="mail-to align-text-center"><a href="mailto:petergabrieltz@gmail.com">📧 <br> get a quote.</a></b> <br><br></p>
					            <button class="snipcart-add-item btn bag-btn tilt-rt" data-item-id="{{item.sys.id}}" data-item-price="{{page.price}}" data-item-url="./day_trips/{{item.sys.url_slug}}.html" data-item-location="{{item.sys.circuit}}" data-item-description="{{page.review}}" data-item-image="{{page.image.fields.file.url}}" data-item-name="{{page.title}}"> ADD TO BUCKET </button>
					         </div>
					         <div class="flex flex-col align-end news-letter-footer">
					             <div class="authority-signature no-mouse-events tilt-lft" style="background-image: url('./img/uploads/signature-designer.svg'); background-size: 95%; backgroung-position: cover; background-repeat: no-repeat;"> </div>
					             <p class="authority-name small tilt-rt"><b>🦛 Kibokoland Adventures Ltd.</b></p>
					         </div>
					       </section>
					     </section> 
					 
					  </div>
				</article>
			</section>
		</section>
	</div>
</section>